@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-playfair: 'Playfair Display', serif;
    --font-lato: 'Lato', sans-serif;
  }

  * {
    @apply border-charcoal/10;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-offwhite text-charcoal;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
